{% extends root + vars.include_path.root + '/_default.njk' %}
{% block page_title %}DEMO1:VeeValidate DEMO For Web Site{% endblock %}

{% block header -%}{%- endblock %}
{% block navigation -%}{%- endblock %}
{% block footer -%}{%- endblock %}

{% block contents -%}
  <main id="app" class="ly_body">
    <p>
      <label for="mail">メール</label>
      <input
          id="mail"
          v-validate="'required|email'"
          name="email"
          type="text"
          placeholder="メールアドレスを入力"
      >
    </p>
    <p v-if="errors.first('email')">${ errors.first('email') }</p>
  </main>
  <!-- /#app -->
{%- endblock %}

{% block js_library %}
<script src="//cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/vee-validate/2.2.2/vee-validate.js"></script>
<script>
  // VeeValidate を有効化
  Vue.use(VeeValidate);

  const vm = new Vue({
    el: '#app',
    delimiters: ['${','}']
  });
</script>
{% endblock %}
