<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% block page_title %}ページタイトル{% endblock %} | {{ vars.site_name }}</title>
  <meta name="description" content="{% block page_description %}{% endblock %}">
  <meta name="keywords" content="{% block page_keywords %}{% endblock %}">
  <link rel="stylesheet" href="{{ vars.asset_path.css }}/style.css">
</head>
